.account-btn{
	display:block;
	border: 1px solid #ccc;
	background-color: #b8afa6;
	width:35%;
	color:white;
	border-radius: 5px;
	position:relative;
	float: right;
	font-family:"Lato", Helvetica;
}

.all-done-btn{
	margin-top: 50px;
	background-color:#58C8CB; 
	color:white; 
	border-radius:0px; 
	padding: 15px 30px 15px 30px; 
	font-size: 20px;
	font-family: "Lato", Helvetica;
}

.all-done-header{
	text-align:center;
	margin-top:45px;
}

.center-txt{
	text-align:center;
}

.dropdown-label-and-chevron{
	color:white;
	float:right
}

.edit-input{
    background: #f4f7f8;
	font-size:17px;
    margin: 0px 0px 10px 0px;
	width:100%;
    padding: 8px;
    background: white;
    border-radius: 0px;
	border:1px solid #ccc;
	font-family:"Lato", Helvetica;
}

.edit-input:focus{
	border:1px solid #58c8cb;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6)
}

.no-padding{
	margin:0;
	padding:0;
}

.main-navbar-class{
	height:90px;
	background-color:#58C8CB;
	padding:10px;
	-moz-box-shadow:    0 6px 15px 3px rgba(50,50,50,0.5);
  	-webkit-box-shadow: 0 6px 15px 3px rgba(50,50,50,0.5);
  	box-shadow:         0 6px 15px 3px rgba(50,50,50,0.5);
}

.modal-content {
	background-clip: border-box;
	border:none;
}

.modal .modal-dialog { 
	width: 500px; 
}

.modal-footer{
	text-align: center
}

.navbar-dropdown{
	padding-top:15px;
	text-align:center;
	float:right;
	padding-right:32px;
	position:relative;
	display:inline-block;
}

.navbar-dropdown-display{
	cursor:pointer;
	color: white;
	padding: 16px;
	font-size: 16px;
}

.navbar-dropdown-display:hover{
	text-decoration:none;
   	color: white;
}

.navbar-dropdown-display:hover{
	text-decoration:none;
}

.navbar-dropdown-display:focus{
	text-decoration:none;
}

.navbar-dropdown-display-label{
	font-size:20px;
	line-height:normal;
	font-weight:500;
	color: #989999
}

.navbar-dropdown-content{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.navbar-dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.navbar-dropdown-content a:hover {background-color: #ddd}

.navbar-dropdown:hover .navbar-dropdown-content {
	display: block;
}

.navigation-bar-header-left{
	color:white;
	float:left;
	font-size: 23px;
	text-align:center;
	padding:20px;
}

.navigation-bar-header-left:hover{
	text-decoration:none;
	color:white;
}

.navigation-bar-header-left:visited{
	text-decoration:none;
	color:white;
}

.navigation-bar-header-left:active{
	text-decoration:none;
	color:white;
}

.navigation-bar-header-left:focus{
	text-decoration:none;
	color:white;
}

.navigation-bar-header-right{
	color:white;
	float:right;
	font-size: 23px;
	text-align:center;
	padding:20px;
}

.navigation-bar-header-right:hover{
	text-decoration:none;
	color:white;
}

.navigation-bar-header-right:visited{
	text-decoration:none;
	color:white;
}

.navigation-bar-header-right:active{
	text-decoration:none;
	color:white;
}

.navigation-bar-header-right:focus{
	text-decoration:none;
	color:white;
}

.password-star{
	font-size:10px;
}

.pop-up-button{
	background-color:#58C8CB; 
	color:white; 
	border-radius:5px; 
	padding: 10px 30px 10px 30px; 
	font-size: 22px;
	font-family: "Lato", Helvetica;
}

.pop-up-header{
	text-align:center;
	font-family:"Lato", Helvetica;
}

.pop-up-subheader{
	padding-bottom:3px;
	font-family:"Lato", Helvetica;
}

.portal-header{
	padding-top:10px;
	font-size:27px;
	font-family:"Lato", Helvetica;
}

.portal-header-border{
	border-bottom:1px solid #e6e6e6;
	padding:20px;
}

.portal-subheader{
	font-size:17px;
	font-family:"Lato", Helvetica;
	padding: 0px 0px 5px 0px;
}

.sidenote{
	padding:0;
	margin:0 auto;
	color:grey; 
	font-size:10px	
}

#about-button{
	position:relative;
	top:150px;
}

#custom-search-input{
	padding: 3px;
	border: solid 1px #E4E4E4;
	border-radius: 6px;
	background-color: #fff;
}

#custom-search-input input{
   	border: 0;
	box-shadow: none;
}

#custom-search-input button{
	margin: 2px 0 0 0;
	background: none;
	box-shadow: none;
	border: 0;
	color: #666666;
	padding: 0 8px 0 10px;
	border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
	border: 0;
	box-shadow: none;
	border-left: solid 1px #ccc;
}

#custom-search-input{
	font-size: 23px;
}

#delete-btn{
	background-color:#a11122;
	color:white;
	margin-top: 25px;
	margin-bottom:25px; 
	padding: 15px 30px 15px 30px; 
	font-size: 20px;
	font-family: "Lato", Helvetica;
}

#mission-statement{
	position: absolute;
	color: white;
	font-size: 24px;
	font-weight: bold;
	top:100px;
	left:0px;
	right:0px;
	bottom:0px;
}

#molinillo-mission{
	width:100%;
	height:250px;
	position:absolute
}

#current-subscription-logo{
	height:25%;
	width:25%
}
