<div class="row">
	<div class="col-lg-12 center-txt portal-header-border" >
		<div class="portal-header">Billing</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-1"><!-- Bootstrap Padding --></div>
	<div class="col-lg-4 col-sm-12">
		<div class="portal-header">Subscription Information</div>
		<div class="portal-subheader">View & adjust your Molinillo subscriptions</div><br>
		<b><div class="portal-subheader">Current Subscription</div></b>
	</div>

	<div class="col-lg-7"><!-- Bootstrap Padding --></div>
</div>

<div class="row">
	<div class="col-lg-1"><!-- Bootstrap Padding --></div>
	<div class="col-lg-5 col-sm-12">
		<img alt="Molinillo Mission" id="current-subscription-logo" src="{{ url_for('static', filename='img/light-blue-cover.png') }}">
		<button type="button" data-target="#updateSubModal" data-toggle="modal" class="account-btn">Update Subscription</button><br>
	</div>
	<div class="col-lg-6"><!-- Bootstrap Padding --></div>
</div>
<br>

<div class="row">
	<div class="col-lg-1"><!--Boostrap Padding--></div>
	<div class="col-lg-11 col-sm-12">
		<b><div class="portal-subheader">Amount</div></b>
	</div>
</div>

<div class="row">
	<div class="col-lg-1"><!--Boostrap Padding--></div>
	<div class="col-lg-11 col-sm-12">
		<div class="portal-subheader">${{plan_amount}}</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-1"><!--Boostrap Padding--></div>
	<div class="col-lg-11 col-sm-12">
		<b><div class="portal-subheader">Next Due Date</div></b>
	</div>
</div>

<div class="row">
	<div class="col-lg-1"><!--Boostrap Padding--></div>
	<div class="col-lg-11 col-sm-12">
		<div class="portal-subheader">{{current_period_end}}</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 portal-header-border"></div>
</div>

<div class="row">
	<div class="col-lg-1"><!-- Bootstrap Padding --></div>
	<div class="col-lg-4 col-sm-12">
		<div class="portal-header">Your Credit/Debit Cards</div>
		<div class="portal-subheader">Payment methods for your Molinillo subscriptions</div><br>
		<b><div class="portal-subheader">Card Information</div></b>
	</div>

	<div class="col-lg-7"><!-- Bootstrap Padding --></div>
</div>

<div class="row">
	<div class="col-lg-1"><!-- Bootstrap Padding --></div>
	<div class="col-lg-5 col-sm-12">
		<span class="portal-subheader">
			**** - **** - **** - {{ last4 }}	
		</span>
		
		{% include 'includes/_update_card_form.html' %}
	</div>
	<div class="col-lg-6"><!-- Bootstrap Padding --></div>
</div>

<div class="row">
	<div class="col-lg-12 portal-header-border"></div>
</div>

<!-- Adding the Pop-Up Modals -->
{% include 'includes/_update_subscription_modal.html' %}
