<div class="row">
	<div class="col-lg-12 center-txt portal-header-border" >
		<div class="portal-header">Billing</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-1"><!-- Bootstrap Padding --></div>
	<div class="col-lg-4 col-sm-12">
		<div class="portal-header">Your Credit & Debit Cards</div>
		<div class="portal-subheader">Payment methods for your Molinillo subscriptions</div><br>
		<b><div class="portal-subheader">Card Information</div></b>
	</div>

	<div class="col-lg-7"><!-- Bootstrap Padding --></div>
</div>

<div class="row">
	<div class="col-lg-1"><!-- Bootstrap Padding --></div>
	<div class="col-lg-5 col-sm-12">
		<span class="portal-subheader">
			
		</span>
		<button type="button" data-target="#emailModal" data-toggle="modal" class="account-btn">Change Email</button>
	</div>
	<div class="col-lg-6"><!-- Bootstrap Padding --></div>
</div>

<div class="row">
	<div class="col-lg-12 portal-header-border"></div>
</div>

<div class="row">
	<div class="col-lg-1"><!-- Bootstrap Padding --></div>
	<div class="col-lg-4 col-sm-12">
		<div class="portal-header">Subscription Information</div>
		<div class="portal-subheader">View & adjust your Molinillo subscriptions</div><br>
		<b><div class="portal-subheader">Vendor Name</div></b>
		<div class="sidenote">This is your screen name throughout the Molinillo website</div>
	</div>

	<div class="col-lg-7"><!-- Bootstrap Padding --></div>
</div>


<div class="row">
	<div class="col-lg-12 portal-header-border"></div>
</div>
