<form method="post" action="">
	<div class="modal fade" id="passwordModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="modal-title pop-up-header">Account Settings</h2>
					<p class="modal-title pop-up-header">Change login credentials</p>
				</div>

					{{ change_password_form.csrf_token }}
					<div class="modal-body">
						<b><div class="pop-up-subheader">CURRENT PASSWORD</div></b>
						{{ change_password_form.current_password( 
			class="edit-input",
			value="") }}
						<br>
						<br> 
						<b><div class="pop-up-subheader">NEW PASSWORD</div></b>
						{{ change_password_form.new_password(
		class="edit-input",
		value="") }}
						<br>
						<br> 
						<b><div class="pop-up-subheader">CONFIRM PASSWORD</div></b>
						{{ change_password_form.confirm(
	class="edit-input",
	value="") }}
					</div>

					<div class="modal-footer">
						<input class="btn btn-default pop-up-button" type="submit" value="Save">
					</div>

			</div>	  
		</div>
	</div>
</form>
