<!-- Navbar Language Dropdown --> 

<div class="navbar-dropdown">
	<a class="navbar-dropdown-display">
		<span class="navbar-dropdown-display-label">Language</span><br>
		<span class="dropdown-label-and-chevron no-padding">
			<span>English</span>
			<i class="glyphicon glyphicon-chevron-down"></i>
		</span>
	</a>

	<div class="navbar-dropdown-content">
		<a href="/">English</a>
		<a href="/">Español</a>			
		<a href="/">Français</a>		
		<a href="/">Deutsch</a>
		<a href="/">Italiano</a>
		<a href="/">Dansk</a>
		<a href="/">Nederlands</a>
	</div>
</div>
