<div class="row">
	<div id="navbar">
		<div class="col-lg-4">
			<a class="navigation-bar-header-left" href="/">Molinillo</a>
			<a class="navigation-bar-header-left" href="/">Country</a>
			<a class="navigation-bar-header-left" href="/">Brand</a>
		</div>

		<div id="search-background" class="col-lg-4">
			<div id="custom-search-input">
				<div class="input-group">
					<input type="text" class="form-control input-lg" placeholder="Search Molinillo"/>
					<span class="input-group-btn">
                        			<button class="btn btn-info btn-lg" type="button">
                            				<i class="glyphicon glyphicon-search"></i>
                        			</button>
                    			</span>
				</div>
        		</div>
		</div>

		<div class="col-lg-4">
			<a class="navigation-bar-header-right" href=""><i class="glyphicon glyphicon-shopping-cart"></i></a>
			{% if current_user.is_authenticated() %}
			<a class="navigation-bar-header-right" href="/logout">Logout</a>
			{% else %}
			<!-- Login Dropdown -->
			{% include 'includes/_navbar_login_dropdown.html' %}
			{% endif %}

			<!-- Language Dropdown -->
			{% include 'includes/_navbar_language_dropdown.html' %}

		</div>
	</div>
</div>
