<div class="row">
	<div class="main-navbar-class">
		<div class="col-lg-6">
			<a class="navigation-bar-header-left" href="{{ url_for('vendor_portal', tab='products') }}">Molinillo</a>
			<a class="navigation-bar-header-left" href="{{ url_for('vendor_portal', tab='products') }}">Products</a>
			<a class="navigation-bar-header-left" href="{{ url_for('vendor_portal', tab='account') }}">Account</a>
			<a class="navigation-bar-header-left" href="{{ url_for('vendor_portal', tab='billing') }}">Billing</a>
			<a class="navigation-bar-header-left" href="{{ url_for('vendor_portal', tab='history') }}">History</a>
		</div>

		<div class="col-lg-6">
			<a class="navigation-bar-header-right" href="/logout">Logout</a>
		</div>
	</div>

</div>
