<form method="post" action="">
	{{ update_subscription_form.csrf_token }}
	<div class="modal fade" id="updateSubModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

					{% if current_plan_id == 1 %}
					<h2 class="modal-title pop-up-header">Switch to Gold Vendor Subscription ($32/month)?</h2>
					{% else %}
					<h2 class="modal-title pop-up-header">Switch to Standard Vendor Subscription ($15/month)?</h2>
					{% endif %}
				</div>

				<div class="modal-body">
					<b><div class="pop-up-subheader">CONFIRM PASSWORD TO PROCEED</div></b>

					{{ update_subscription_form.update_subscription_password(class="edit-input") }}
				</div>

				<div class="modal-footer">
					<input class="btn btn-default pop-up-button" type="submit" value="Yes - Update Subscription">
				</div>

			</div>	  
		</div>
	</div>
</form>
