{% extends 'layout.html' %}

{% block title %}
Molinillo.com
{% endblock %}

{% block body %}
	<div class="row">
        	<div class="col-xs-12 col-lg-12 full-width">
			<img id="molinillo-mission" alt="Molinillo Mission" class="img-responsive center-block" src="{{ url_for('static', filename='img/cacao_pods_cover.png') }}">
		</div>

	</div>

{% for vendor in vendors %}
	<strong>ID: </strong> {{ vendor.id }}
	<strong>Company: </strong> {{ vendor.company }}
	<strong>Address1: </strong> {{ vendor.address_1 }}
	<strong>Address2: </strong> {{ vendor.address_2 }}
	<strong>City: </strong> {{ vendor.city }}
	<strong>State: </strong> {{ vendor.state }}
	<strong>Zipcode: </strong> {{ vendor.zipcode }}
	<strong>Country: </strong> {{ vendor.country }}
	<strong>Email: </strong> {{ vendor.email }}
	<strong>Phone: </strong> {{ vendor.phone }}
	<strong>Hash: </strong> {{ vendor.password }}
	<br>
{% endfor %}

{% endblock %}
