{% extends 'layout.html' %}

{% block title %}
Molinillo.com
{% endblock %}

{% block body %}
	<div class="row">
       	<div class="col-xs-12 col-lg-12 no-padding center-txt">
			<img id="molinillo-mission" alt="Molinillo Mission" class="img-responsive center-block" src="{{ url_for('static', filename='img/cacao_pods_cover.png') }}">
			<p id="mission-statement">Insert Mission Statement</p>
			<button onclick="window.location.href='\about'" id="about-button" class="btn">Learn More</button>
		</div>
	</div>
{% endblock %}
