<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> Login Page </title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css')  }}">
	</head>
	<body>
		<div class="container">
			<h1>Please login</h1>
			<br>
			<form method="post" action="">
				<input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
				<input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
				<input class="btn btn-default" type="submit" value="Login">
			</form>
			{% if error %}
				<p class="error"><strong>Error:</strong> {{ error }}</p>
			{% endif %}
		</div>
	</body>
</html>
