{% extends 'layout.html' %}

{% block title %}
Molinillo.com | Registration
{% endblock %}

{% block body %}
	<div class="row">
        	<div class="col-xs-12 col-lg-12">
			<button onclick="window.location.href='\\'" class="btn">Customer Registration</button>
			<button onclick="window.location.href='\\vendor_register\\1'" class="btn">Vendor Registration Tier 1</button>
			<button onclick="window.location.href='\\vendor_register\\2'" class="btn">Vendor Registration Tier 2</button>
			<button onclick="window.location.href='\\vendor_register\\3'" class="btn">Vendor Registration Tier 3</button>
		</div>

	</div>


{% endblock %}
